<p>Acessando Serviço REST</p>

<input type="button" value="Executa no servidor" (click)="clicados()"/> 
<input type="button" value="Primitivo - numero" (click)="clicaNum()"/> 
<input type="button" value="Serviço Angular" (click)="clicando()"/>

<input type="button" value="Listar" (click)="listar()"/>
<input type="number" placeholder="consultar, excluir, alterar" name="ind" [(ngModel)]="ind"/> 
<input type="button" value="Consultar" (click)="consultar()"/>
<input type="button" value="Alterar" (click)="alterar()"/>
<input type="button" value="Inserir" (click)="inserir()"/>
<input type="button" value="Excluir" (click)="excluir()"/>
<!-- 
<input type="button" value="clicou" (click)="clicou()"/> 
-->