
<a [routerLink]="'/Menu01'">-- Menu 1</a><br>
<a [routerLink]="'/Menu02'">Form Data Driven - Simples</a><br>
<a [routerLink]="'/Menu04'">Form Modules - Simples</a><br>
<a [routerLink]="'/Menu07'">Form Modules - Validação</a><br>
<a [routerLink]="'/Menu09'">Form Data Driven - Validação</a><br>
<a [routerLink]="'/Menu08'">Form  - Evento</a><br>
<a [routerLink]="'/Menu05'">Form Modules - Combos\list\auto complet</a><br>
<a [routerLink]="'/Menu06'">Form Modules - tabela</a><br>
<a [routerLink]="'/SubMenu03'">-- Menu 3</a><br>
<a [routerLink]="'/Menu11'">Serviços</a><br>
<a [routerLink]="'/Menu13'">Input</a><br>
<a [routerLink]="'/Menu14'">Output</a><br>
<router-outlet></router-outlet>